<div class="row mb-3">
    <div class="col">
        <p>{{ gradeName }}</p>
    </div>
    <div *ngIf="isEditing" class="col">
        <button class="btn btn-dark" (click)="decreaseCount()">-</button>
    </div>
    <div class="col">{{ count }}</div>
    <div *ngIf="isEditing" class="col">
        <button class="btn btn-dark" (click)="increaseCount()">+</button>
    </div>
    <div *ngIf="isEditing" class="col">
        <button class="btn btn-dark" (click)="resetCount()">Reset</button>
    </div>
    <div class="col">
        <button class="btn btn-dark" (click)="toggleEdit()">{{ isEditing ? 'Save' : 'Edit' }}</button>
    </div>

</div>