<div class="routes row mb-3 d-flex align-items-center">
    <div class="col">
        <p class="number-display mb-0">{{ gradeName }}</p>
    </div>
    <div class="col">
        <button class="btn btn-dark btn-sm" (click)="decreaseCount()" [disabled]="modifyNumber">-</button>
    </div>
    <div class="col number-display">{{ count }}</div>
    <div class="col">
        <button class="btn btn-dark btn-sm" (click)="increaseCount()" [disabled]="modifyNumber">+</button>
    </div>
    <!-- <div *ngIf="isEditing" class="col">
        <button class="btn btn-dark" (click)="resetCount()">Reset</button>
    </div> -->
    <div class="col">
        <button class="save-edit btn btn-dark" (click)="toggleEdit()">{{ isEditing ? 'Save' : 'Edit' }}</button>
    </div>

</div>